* {
    background-color: white;
}

.pokemonToten {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

figure {
    display: flex;
    flex-direction: column; 
    background-color: #e7e3d8;
}

#pokemonImg {
    border: 5px solid black;
    border-radius: 25px;
}

#pokemonName {
    align-self: center;
    text-transform: capitalize;
    margin: 5%;
}

input#favIcon {
    align-self: center;
}

