/* #pageHeader { */
    /* background-color: black;
    margin: 0px;
    padding: 0px; */
/* } */

#pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}

/* .pageHeader {
    display: flex;
} */

#pokemonSong {
    /* display: flex; */
    background-color: turquoise;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 0px 0px;
}

#pokemonPortrait {
    display: flex;
    /* padding: 20px 50px; */
    /* flex-flow: row wrap; */
    /* width: 80%; */
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    /* align-self: center; */
    /* margin-top: 50px; */
    
} 

#pokemonToten {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
  padding: 20px 0px;
  margin: 10px 0px;
  width: 80%;
}
  
.pagination a {
  padding: 3px 10px;
  border-radius: 20px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.paginationLink {
  font-weight: bold;
}

.paginationLinkActive a {
  color: #fff;
  background: #6c7ac9;
}

.paginationLinkDisabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

#favButton {
  width: 20px;
  height: 20px;
  padding: 0px;
  align-self: center;
}