/* #pageHeader { */
    /* background-color: black;
    margin: 0px;
    padding: 0px; */
/* } */

#pokedex {
    display: flex;
    flex-direction: column;
}

.pageHeader {
    display: flex;
}

#pokemonSong {
    /* display: flex; */
    background-color: turquoise;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 0px 0px;
}

#pokemonPortrait {
    display: flex;
    /* padding: 20px 50px; */
    flex-flow: row wrap;
    width: 80%;
    align-self: center;
    /* margin-top: 50px; */
    
} 

