div#button {
    display: flex;
    border-radius: 25px;
    align-items: center;
}

.fav{
    margin-left: 18%;
    display: flex;
    border-radius: 25px;
    align-self: center;
    background-color: rgb(255, 43, 43);
}