#title {
    text-align: center;
    padding: 15px 0px;
    margin: 0px 0px;
}

#nav {
    float: left;
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

li {
    align-self: center;
    color: black;
}

#loginLink {
    text-decoration: none;
}

#homeLink, #pokedexLink {
    display: flex;
    padding: 5px 20px;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    background-color: #4CAF50;
    text-decoration: none;
    color: black;
}

button {
    display: flex;
    padding: 5px 20px;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
}

button#loginButton {
    background-color: #4CAF50;
}

button#logoutButton {
    background-color: red;
    text-decoration: none;
}