#header {
    text-align: center;
    width: 100%;
}

#title {
    padding: 15px 0px;
    margin: 0px 0px;
}

#links {
    float: left;
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}