.Pokedex, .Home {
    background-color: white;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    width: 100%;
}

    
    /* display: flex;
    flex-direction: column;
    align-items: center; */